<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>A</key>
	<string>a_.glif</string>
	<key>B</key>
	<string>b_.glif</string>
	<key>C</key>
	<string>c_.glif</string>
	<key>D</key>
	<string>d_.glif</string>
	<key>E</key>
	<string>e_.glif</string>
	<key>F</key>
	<string>f_.glif</string>
	<key>G</key>
	<string>g_.glif</string>
	<key>H</key>
	<string>h_.glif</string>
	<key>I</key>
	<string>i_.glif</string>
	<key>J</key>
	<string>j_.glif</string>
	<key>K</key>
	<string>k_.glif</string>
	<key>L</key>
	<string>l_.glif</string>
	<key>M</key>
	<string>m_.glif</string>
	<key>N</key>
	<string>n_.glif</string>
	<key>O</key>
	<string>o_.glif</string>
	<key>P</key>
	<string>p_.glif</string>
	<key>Q</key>
	<string>q_.glif</string>
	<key>R</key>
	<string>r_.glif</string>
	<key>S</key>
	<string>s_.glif</string>
	<key>T</key>
	<string>t_.glif</string>
	<key>U</key>
	<string>u_.glif</string>
	<key>V</key>
	<string>v_.glif</string>
	<key>W</key>
	<string>w_.glif</string>
	<key>X</key>
	<string>x_.glif</string>
	<key>Y</key>
	<string>y_.glif</string>
	<key>Z</key>
	<string>z_.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>uni00A0</key>
	<string>uni00a_0.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>uni00AD</key>
	<string>uni00a_d_.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>uni00B2</key>
	<string>uni00b_2.glif</string>
	<key>uni00B3</key>
	<string>uni00b_3.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>uni00B5</key>
	<string>uni00b_5.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>uni00B9</key>
	<string>uni00b_9.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>Agrave</key>
	<string>a_grave.glif</string>
	<key>Aacute</key>
	<string>a_acute.glif</string>
	<key>Acircumflex</key>
	<string>a_circumflex.glif</string>
	<key>Atilde</key>
	<string>a_tilde.glif</string>
	<key>Adieresis</key>
	<string>a_dieresis.glif</string>
	<key>Aring</key>
	<string>a_ring.glif</string>
	<key>AE</key>
	<string>a_e_.glif</string>
	<key>Ccedilla</key>
	<string>c_cedilla.glif</string>
	<key>Egrave</key>
	<string>e_grave.glif</string>
	<key>Eacute</key>
	<string>e_acute.glif</string>
	<key>Ecircumflex</key>
	<string>e_circumflex.glif</string>
	<key>Edieresis</key>
	<string>e_dieresis.glif</string>
	<key>Igrave</key>
	<string>i_grave.glif</string>
	<key>Iacute</key>
	<string>i_acute.glif</string>
	<key>Icircumflex</key>
	<string>i_circumflex.glif</string>
	<key>Idieresis</key>
	<string>i_dieresis.glif</string>
	<key>Eth</key>
	<string>e_th.glif</string>
	<key>Ntilde</key>
	<string>n_tilde.glif</string>
	<key>Ograve</key>
	<string>o_grave.glif</string>
	<key>Oacute</key>
	<string>o_acute.glif</string>
	<key>Ocircumflex</key>
	<string>o_circumflex.glif</string>
	<key>Otilde</key>
	<string>o_tilde.glif</string>
	<key>Odieresis</key>
	<string>o_dieresis.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>Oslash</key>
	<string>o_slash.glif</string>
	<key>Ugrave</key>
	<string>u_grave.glif</string>
	<key>Uacute</key>
	<string>u_acute.glif</string>
	<key>Ucircumflex</key>
	<string>u_circumflex.glif</string>
	<key>Udieresis</key>
	<string>u_dieresis.glif</string>
	<key>Yacute</key>
	<string>y_acute.glif</string>
	<key>Thorn</key>
	<string>t_horn.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>Lslash</key>
	<string>l_slash.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>OE</key>
	<string>o_e_.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>uni0251</key>
	<string>uni0251.glif</string>
	<key>uni025A</key>
	<string>uni025a_.glif</string>
	<key>uni0292</key>
	<string>uni0292.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>uni02CA</key>
	<string>uni02c_a_.glif</string>
	<key>uni02CB</key>
	<string>uni02c_b_.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>uniFF01</key>
	<string>unif_f_01.glif</string>
	<key>uniFF02</key>
	<string>unif_f_02.glif</string>
	<key>uniFF03</key>
	<string>unif_f_03.glif</string>
	<key>uniFF04</key>
	<string>unif_f_04.glif</string>
	<key>uniFF05</key>
	<string>unif_f_05.glif</string>
	<key>uniFF06</key>
	<string>unif_f_06.glif</string>
	<key>uniFF07</key>
	<string>unif_f_07.glif</string>
	<key>uniFF08</key>
	<string>unif_f_08.glif</string>
	<key>uniFF09</key>
	<string>unif_f_09.glif</string>
	<key>uniFF0A</key>
	<string>unif_f_0a_.glif</string>
	<key>uniFF0B</key>
	<string>unif_f_0b_.glif</string>
	<key>uniFF0C</key>
	<string>unif_f_0c_.glif</string>
	<key>uniFF0D</key>
	<string>unif_f_0d_.glif</string>
	<key>uniFF0E</key>
	<string>unif_f_0e_.glif</string>
	<key>uniFF0F</key>
	<string>unif_f_0f_.glif</string>
	<key>uniFF10</key>
	<string>unif_f_10.glif</string>
	<key>uniFF11</key>
	<string>unif_f_11.glif</string>
	<key>uniFF12</key>
	<string>unif_f_12.glif</string>
	<key>uniFF13</key>
	<string>unif_f_13.glif</string>
	<key>uniFF14</key>
	<string>unif_f_14.glif</string>
	<key>uniFF15</key>
	<string>unif_f_15.glif</string>
	<key>uniFF16</key>
	<string>unif_f_16.glif</string>
	<key>uniFF17</key>
	<string>unif_f_17.glif</string>
	<key>uniFF18</key>
	<string>unif_f_18.glif</string>
	<key>uniFF19</key>
	<string>unif_f_19.glif</string>
	<key>uniFF1A</key>
	<string>unif_f_1a_.glif</string>
	<key>uniFF1B</key>
	<string>unif_f_1b_.glif</string>
	<key>uniFF1C</key>
	<string>unif_f_1c_.glif</string>
	<key>uniFF1D</key>
	<string>unif_f_1d_.glif</string>
	<key>uniFF1E</key>
	<string>unif_f_1e_.glif</string>
	<key>uniFF1F</key>
	<string>unif_f_1f_.glif</string>
	<key>uniFF20</key>
	<string>unif_f_20.glif</string>
	<key>uniFF21</key>
	<string>unif_f_21.glif</string>
	<key>uniFF22</key>
	<string>unif_f_22.glif</string>
	<key>uniFF23</key>
	<string>unif_f_23.glif</string>
	<key>uniFF24</key>
	<string>unif_f_24.glif</string>
	<key>uniFF25</key>
	<string>unif_f_25.glif</string>
	<key>uniFF26</key>
	<string>unif_f_26.glif</string>
	<key>uniFF27</key>
	<string>unif_f_27.glif</string>
	<key>uniFF28</key>
	<string>unif_f_28.glif</string>
	<key>uniFF29</key>
	<string>unif_f_29.glif</string>
	<key>uniFF2A</key>
	<string>unif_f_2a_.glif</string>
	<key>uniFF2B</key>
	<string>unif_f_2b_.glif</string>
	<key>uniFF2C</key>
	<string>unif_f_2c_.glif</string>
	<key>uniFF2D</key>
	<string>unif_f_2d_.glif</string>
	<key>uniFF2E</key>
	<string>unif_f_2e_.glif</string>
	<key>uniFF2F</key>
	<string>unif_f_2f_.glif</string>
	<key>uniFF30</key>
	<string>unif_f_30.glif</string>
	<key>uniFF31</key>
	<string>unif_f_31.glif</string>
	<key>uniFF32</key>
	<string>unif_f_32.glif</string>
	<key>uniFF33</key>
	<string>unif_f_33.glif</string>
	<key>uniFF34</key>
	<string>unif_f_34.glif</string>
	<key>uniFF35</key>
	<string>unif_f_35.glif</string>
	<key>uniFF36</key>
	<string>unif_f_36.glif</string>
	<key>uniFF37</key>
	<string>unif_f_37.glif</string>
	<key>uniFF38</key>
	<string>unif_f_38.glif</string>
	<key>uniFF39</key>
	<string>unif_f_39.glif</string>
	<key>uniFF3A</key>
	<string>unif_f_3a_.glif</string>
	<key>uniFF3B</key>
	<string>unif_f_3b_.glif</string>
	<key>uniFF3C</key>
	<string>unif_f_3c_.glif</string>
	<key>uniFF3D</key>
	<string>unif_f_3d_.glif</string>
	<key>uniFF3E</key>
	<string>unif_f_3e_.glif</string>
	<key>uniFF3F</key>
	<string>unif_f_3f_.glif</string>
	<key>uniFF40</key>
	<string>unif_f_40.glif</string>
	<key>uniFF41</key>
	<string>unif_f_41.glif</string>
	<key>uniFF42</key>
	<string>unif_f_42.glif</string>
	<key>uniFF43</key>
	<string>unif_f_43.glif</string>
	<key>uniFF44</key>
	<string>unif_f_44.glif</string>
	<key>uniFF45</key>
	<string>unif_f_45.glif</string>
	<key>uniFF46</key>
	<string>unif_f_46.glif</string>
	<key>uniFF47</key>
	<string>unif_f_47.glif</string>
	<key>uniFF48</key>
	<string>unif_f_48.glif</string>
	<key>uniFF49</key>
	<string>unif_f_49.glif</string>
	<key>uniFF4A</key>
	<string>unif_f_4a_.glif</string>
	<key>uniFF4B</key>
	<string>unif_f_4b_.glif</string>
	<key>uniFF4C</key>
	<string>unif_f_4c_.glif</string>
	<key>uniFF4D</key>
	<string>unif_f_4d_.glif</string>
	<key>uniFF4E</key>
	<string>unif_f_4e_.glif</string>
	<key>uniFF4F</key>
	<string>unif_f_4f_.glif</string>
	<key>uniFF50</key>
	<string>unif_f_50.glif</string>
	<key>uniFF51</key>
	<string>unif_f_51.glif</string>
	<key>uniFF52</key>
	<string>unif_f_52.glif</string>
	<key>uniFF53</key>
	<string>unif_f_53.glif</string>
	<key>uniFF54</key>
	<string>unif_f_54.glif</string>
	<key>uniFF55</key>
	<string>unif_f_55.glif</string>
	<key>uniFF56</key>
	<string>unif_f_56.glif</string>
	<key>uniFF57</key>
	<string>unif_f_57.glif</string>
	<key>uniFF58</key>
	<string>unif_f_58.glif</string>
	<key>uniFF59</key>
	<string>unif_f_59.glif</string>
	<key>uniFF5A</key>
	<string>unif_f_5a_.glif</string>
	<key>uniFF5B</key>
	<string>unif_f_5b_.glif</string>
	<key>uniFF5C</key>
	<string>unif_f_5c_.glif</string>
	<key>uniFF5D</key>
	<string>unif_f_5d_.glif</string>
	<key>uniFF5E</key>
	<string>unif_f_5e_.glif</string>
	<key>multiply.vert</key>
	<string>multiply.vert.glif</string>
	<key>divide.vert</key>
	<string>divide.vert.glif</string>
	<key>uniFF01.vert</key>
	<string>unif_f_01.vert.glif</string>
	<key>uniFF03.vert</key>
	<string>unif_f_03.vert.glif</string>
	<key>uniFF04.vert</key>
	<string>unif_f_04.vert.glif</string>
	<key>uniFF05.vert</key>
	<string>unif_f_05.vert.glif</string>
	<key>uniFF06.vert</key>
	<string>unif_f_06.vert.glif</string>
	<key>uniFF08.vert</key>
	<string>unif_f_08.vert.glif</string>
	<key>uniFF09.vert</key>
	<string>unif_f_09.vert.glif</string>
	<key>uniFF0A.vert</key>
	<string>unif_f_0a_.vert.glif</string>
	<key>uniFF0B.vert</key>
	<string>unif_f_0b_.vert.glif</string>
	<key>uniFF0C.vert</key>
	<string>unif_f_0c_.vert.glif</string>
	<key>uniFF0D.vert</key>
	<string>unif_f_0d_.vert.glif</string>
	<key>uniFF0E.vert</key>
	<string>unif_f_0e_.vert.glif</string>
	<key>uniFF0F.vert</key>
	<string>unif_f_0f_.vert.glif</string>
	<key>uniFF10.vert</key>
	<string>unif_f_10.vert.glif</string>
	<key>uniFF11.vert</key>
	<string>unif_f_11.vert.glif</string>
	<key>uniFF12.vert</key>
	<string>unif_f_12.vert.glif</string>
	<key>uniFF13.vert</key>
	<string>unif_f_13.vert.glif</string>
	<key>uniFF14.vert</key>
	<string>unif_f_14.vert.glif</string>
	<key>uniFF15.vert</key>
	<string>unif_f_15.vert.glif</string>
	<key>uniFF16.vert</key>
	<string>unif_f_16.vert.glif</string>
	<key>uniFF17.vert</key>
	<string>unif_f_17.vert.glif</string>
	<key>uniFF18.vert</key>
	<string>unif_f_18.vert.glif</string>
	<key>uniFF19.vert</key>
	<string>unif_f_19.vert.glif</string>
	<key>uniFF1A.vert</key>
	<string>unif_f_1a_.vert.glif</string>
	<key>uniFF1B.vert</key>
	<string>unif_f_1b_.vert.glif</string>
	<key>uniFF1C.vert</key>
	<string>unif_f_1c_.vert.glif</string>
	<key>uniFF1D.vert</key>
	<string>unif_f_1d_.vert.glif</string>
	<key>uniFF1E.vert</key>
	<string>unif_f_1e_.vert.glif</string>
	<key>uniFF1F.vert</key>
	<string>unif_f_1f_.vert.glif</string>
	<key>uniFF20.vert</key>
	<string>unif_f_20.vert.glif</string>
	<key>uniFF21.vert</key>
	<string>unif_f_21.vert.glif</string>
	<key>uniFF22.vert</key>
	<string>unif_f_22.vert.glif</string>
	<key>uniFF23.vert</key>
	<string>unif_f_23.vert.glif</string>
	<key>uniFF24.vert</key>
	<string>unif_f_24.vert.glif</string>
	<key>uniFF25.vert</key>
	<string>unif_f_25.vert.glif</string>
	<key>uniFF26.vert</key>
	<string>unif_f_26.vert.glif</string>
	<key>uniFF27.vert</key>
	<string>unif_f_27.vert.glif</string>
	<key>uniFF28.vert</key>
	<string>unif_f_28.vert.glif</string>
	<key>uniFF29.vert</key>
	<string>unif_f_29.vert.glif</string>
	<key>uniFF2A.vert</key>
	<string>unif_f_2a_.vert.glif</string>
	<key>uniFF2B.vert</key>
	<string>unif_f_2b_.vert.glif</string>
	<key>uniFF2C.vert</key>
	<string>unif_f_2c_.vert.glif</string>
	<key>uniFF2D.vert</key>
	<string>unif_f_2d_.vert.glif</string>
	<key>uniFF2E.vert</key>
	<string>unif_f_2e_.vert.glif</string>
	<key>uniFF2F.vert</key>
	<string>unif_f_2f_.vert.glif</string>
	<key>uniFF30.vert</key>
	<string>unif_f_30.vert.glif</string>
	<key>uniFF31.vert</key>
	<string>unif_f_31.vert.glif</string>
	<key>uniFF32.vert</key>
	<string>unif_f_32.vert.glif</string>
	<key>uniFF33.vert</key>
	<string>unif_f_33.vert.glif</string>
	<key>uniFF34.vert</key>
	<string>unif_f_34.vert.glif</string>
	<key>uniFF35.vert</key>
	<string>unif_f_35.vert.glif</string>
	<key>uniFF36.vert</key>
	<string>unif_f_36.vert.glif</string>
	<key>uniFF37.vert</key>
	<string>unif_f_37.vert.glif</string>
	<key>uniFF38.vert</key>
	<string>unif_f_38.vert.glif</string>
	<key>uniFF39.vert</key>
	<string>unif_f_39.vert.glif</string>
	<key>uniFF3A.vert</key>
	<string>unif_f_3a_.vert.glif</string>
	<key>uniFF3B.vert</key>
	<string>unif_f_3b_.vert.glif</string>
	<key>uniFF3C.vert</key>
	<string>unif_f_3c_.vert.glif</string>
	<key>uniFF3D.vert</key>
	<string>unif_f_3d_.vert.glif</string>
	<key>uniFF3E.vert</key>
	<string>unif_f_3e_.vert.glif</string>
	<key>uniFF3F.vert</key>
	<string>unif_f_3f_.vert.glif</string>
	<key>uniFF40.vert</key>
	<string>unif_f_40.vert.glif</string>
	<key>uniFF41.vert</key>
	<string>unif_f_41.vert.glif</string>
	<key>uniFF42.vert</key>
	<string>unif_f_42.vert.glif</string>
	<key>uniFF43.vert</key>
	<string>unif_f_43.vert.glif</string>
	<key>uniFF44.vert</key>
	<string>unif_f_44.vert.glif</string>
	<key>uniFF45.vert</key>
	<string>unif_f_45.vert.glif</string>
	<key>uniFF46.vert</key>
	<string>unif_f_46.vert.glif</string>
	<key>uniFF47.vert</key>
	<string>unif_f_47.vert.glif</string>
	<key>uniFF48.vert</key>
	<string>unif_f_48.vert.glif</string>
	<key>uniFF49.vert</key>
	<string>unif_f_49.vert.glif</string>
	<key>uniFF4A.vert</key>
	<string>unif_f_4a_.vert.glif</string>
	<key>uniFF4B.vert</key>
	<string>unif_f_4b_.vert.glif</string>
	<key>uniFF4C.vert</key>
	<string>unif_f_4c_.vert.glif</string>
	<key>uniFF4D.vert</key>
	<string>unif_f_4d_.vert.glif</string>
	<key>uniFF4E.vert</key>
	<string>unif_f_4e_.vert.glif</string>
	<key>uniFF4F.vert</key>
	<string>unif_f_4f_.vert.glif</string>
	<key>uniFF50.vert</key>
	<string>unif_f_50.vert.glif</string>
	<key>uniFF51.vert</key>
	<string>unif_f_51.vert.glif</string>
	<key>uniFF52.vert</key>
	<string>unif_f_52.vert.glif</string>
	<key>uniFF53.vert</key>
	<string>unif_f_53.vert.glif</string>
	<key>uniFF54.vert</key>
	<string>unif_f_54.vert.glif</string>
	<key>uniFF55.vert</key>
	<string>unif_f_55.vert.glif</string>
	<key>uniFF56.vert</key>
	<string>unif_f_56.vert.glif</string>
	<key>uniFF57.vert</key>
	<string>unif_f_57.vert.glif</string>
	<key>uniFF58.vert</key>
	<string>unif_f_58.vert.glif</string>
	<key>uniFF59.vert</key>
	<string>unif_f_59.vert.glif</string>
	<key>uniFF5A.vert</key>
	<string>unif_f_5a_.vert.glif</string>
	<key>uniFF5B.vert</key>
	<string>unif_f_5b_.vert.glif</string>
	<key>uniFF5C.vert</key>
	<string>unif_f_5c_.vert.glif</string>
	<key>uniFF5D.vert</key>
	<string>unif_f_5d_.vert.glif</string>
	<key>uniFF5E.vert</key>
	<string>unif_f_5e_.vert.glif</string>
    </dict>
</plist>
